.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  my styles below */
.critical {
  color: #e02712;
}

.warning {
  color: #e0bb12;
}

.unique {
  color: blue;
}

.accordion {
  max-width: 400px;
}

.accordion-header {
  cursor: pointer;
}

.accordion-body {
  /* display: none; */
}

.show {
  display: block;
}

.hide {
  display: none;
}

.body {
  margin: 10px;
  padding: 10px;
}

.each-attribute {
  margin: 5px;
  list-style: none;
  cursor: pointer;
}

.each-attribute:hover {
  text-shadow: 1px 2px 3px silver;
  opacity: 0.8;
}

.padded-10 {
  padding: 10px;
}
